    @import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@1,400;1,508&family=Pacifico&display=swap');
    *,
     ::after,
     ::before {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    /* 
font-family: 'Barlow', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive; */
    
    html {
        font-size: 100%;
        /* 16px */
    }
    
     :root {
        /* colors */
        --primary-100: #e2e0ff;
        --primary-200: #c1beff;
        --primary-300: #a29dff;
        --primary-400: #837dff;
        --primary-500: #645cff;
        --primary-600: #504acc;
        --primary-700: #3c3799;
        --primary-800: #282566;
        --primary-900: #141233;
        /* grey */
        --grey-50: #f8fafc;
        --grey-100: #f1f5f9;
        --grey-200: #e2e8f0;
        --grey-300: #cbd5e1;
        --grey-400: #94a3b8;
        --grey-500: #64748b;
        --grey-600: #475569;
        --grey-700: #334155;
        --grey-800: #1e293b;
        --grey-900: #0f172a;
        /* rest of the colors */
        --black: #222;
        --white: #fff;
        --red-light: #f8d7da;
        --red-dark: #842029;
        --green-light: #d1e7dd;
        --green-dark: #0f5132;
        /* fonts  */
        --headingFont: 'Pacifico', sans-serif;
        --bodyFont: 'Barlow', sans-serif;
        /* --bodyFont: 'Open Sans', sans-serif; */
        --smallText: 0.7em;
        /* rest of the vars */
        --backgroundColor: var(--grey-50);
        --textColor: var(--grey-900);
        --borderRadius: 0.25rem;
        --letterSpacing: 1px;
        --transition: 0.3s ease-in-out all;
        --max-width: 1120px;
        --fixed-width: 600px;
        /* box shadow*/
        --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    }
    
    body {
        background: var(--backgroundColor);
        font-family: var(--bodyFont);
        font-weight: 500;
        line-height: 1.75;
        color: var(--textColor);
    }
    
    p {
        margin-top: 0;
        margin-bottom: 1.5rem;
        max-width: 40rem;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5 {
        margin: 0;
        margin-bottom: 1.3rem;
        font-family: var(--headingFont);
        font-weight: 400;
        line-height: 1.3;
        text-transform: capitalize;
        letter-spacing: var(--letterSpacing)
    }
    
    a {
        text-decoration: none;
    }
    /* a:hover {
                background-color: var(--primary-900);
            } */
    
    ul {
        list-style: none;
        padding: 0;
    }
    
    .img {
        width: 100%;
        display: block;
        object-fit: cover;
    }
    
    .btn {
        cursor: pointer;
        color: var(--white);
        background-color: var(--primary-500);
        border: transparent;
        border-radius: var(--borderRadius);
        letter-spacing: var(--letterSpacing);
        padding: 0.375rem 0.75rem;
        transition: var(--transition);
        text-transform: capitalize;
        display: inline-block;
        box-shadow: var(--shadow-1);
    }
    
    .btn:hover {
        background-color: var(--primary-900);
        box-shadow: var(--shadow-3);
    }
    /* header */
    
    .navbar {
        /* height: 6rem; */
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: red;
    }
    
    .nav-center {
        width: 90vw;
        max-width: var(--max-width);
        background-color: green;
    }
    
    .nav-header {
        height: 6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #141233;
    }
    
    .nav-header img {
        width: 200px;
    }
    
    .nav-logo {
        display: flex;
        align-items: center;
    }
    
    .nav-btn {
        padding: 0.15rem 0.75rem;
    }
    
    .nav-btn i {
        font-size: 16px;
    }
    
    .nav-links {
        display: flex;
        flex-direction: column;
        /* todo - after adding show-links*/
        height: 0;
        overflow: hidden;
        transition: var(--transition);
    }
    
    .show-links {
        /* this class come from JS toggle file */
        height: 310px;
    }
    
    .nav-link {
        display: block;
        text-align: center;
        letter-spacing: var(--letterSpacing);
        padding: 16px 0;
        text-transform: uppercase;
        color: var(--green-light);
        border-top: 1px solid var(--grey-500);
        transition: var(--transition);
    }
    
    .nav-link:hover {
        color: var(--primary-500);
    }
    
    .contact-link a {
        padding: 0.15rem 1rem;
    }
    /* main content  */
    
    .page {
        width: 90vw;
        max-width: var(--max-width);
        background-color: rgb(233, 190, 190);
        margin: 0 auto;
        min-height: calc(100vh - (6rem + 6rem));
    }
    /* <!-- banner image --> */
    
    .hero {
        height: 40vh;
        background-image: url('../images/main.jpeg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 2rem;
        border-radius: var(--borderRadius);
        position: relative;
    }
    
    .hero-container {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.403);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .hero-text {
        text-align: center;
        color: var(--green-light);
    }
    /* recipes-container */
    
    .recipes-container {
        display: grid;
        gap: 2rem 1rem;
        border: 2px solid red;
    }
    
    .tags-container {
        order: 1;
        border: 2px solid rgb(0, 255, 81);
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;
    }
    
    .tags-container h4 {
        margin-bottom: 0.5rem;
    }
    
    .tags-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    
    .tags-list a {
        text-transform: uppercase;
        font-weight: 700;
        display: block;
        color: var(--grey-500);
    }
    
    .tags-list a:hover {
        color: #645cff;
        /* border-bottom: 2px solid #000; */
    }
    
    .recipes-list {
        display: grid;
        gap: 1rem 1rem;
        /* padding-bottom: 5rem; */
        border: 2px solid rgb(98, 0, 255);
    }
    
    .recipe {
        display: block;
    }
    
    .recipe-img,
    .related-img {
        height: 15rem;
        border-radius: var(--borderRadius);
        margin-bottom: 1rem;
    }
    
    .recipe h5 {
        margin-bottom: 0;
        line-height: 1;
    }
    
    .recipe p {
        margin-bottom: 0;
    }
    /* tags.html page  */
    /* tags list */
    
    .tags-page-header {
        font-size: 32px;
        font-weight: 700;
        padding: 20px 0;
    }
    /* end of tags.html page  */
    /* recipes.html page  */
    /* recipes list */
    
    .recipe-page-header {
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        padding: 20px 0;
    }
    /* end of recipes.html page  */
    /* SINGLE-PAGE-RECIPE */
    
    .single-recipe-container {
        display: grid;
        gap: 2rem 4rem;
        padding: 10px 0;
    }
    
    .single-feature-title {
        text-align: center;
    }
    
    .single-recipe-content {}
    
    .single-recipe-image {}
    
    .single-img {
        border-radius: var(--borderRadius);
        height: 300px;
    }
    /* related-prodct  */
    
    .related-product-title {
        text-align: center;
        padding-top: 20px;
        font-size: xx-large;
    }
    
    .related-product-lists {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem 1rem;
    }
    
    .related-product-details h4,
    p {
        margin-bottom: 0;
    }
    
    .related-img {
        height: 10rem;
    }
    /* End of SINGLE-PAGE-RECIPE */
    /* ==== 
               contact-container 
    ====*/
    
    .contact-container {
        display: grid;
        gap: 2rem 0;
        justify-content: center;
        align-items: center;
        /* text-align: center; */
    }
    
    .contact-form {
        background-color: var(--grey-400);
        border-radius: 5px;
        padding: 10px;
    }
    
    .form-row {
        width: 100%;
        padding: 10px 15px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    .form-input,
    .form-select {
        width: 100%;
        display: inline-block;
        border-radius: 05px;
        padding: 10px 10px;
        margin: 8px 0;
        font-size: 20px;
    }
    
    .form-label {
        font-size: 18px;
    }
    
    .form-submit {
        padding: 10px 10px;
        background-color: #0f5132;
        color: #f1f5f9;
        margin: 15px 0;
        border-radius: 5px;
        border: solid red;
    }
    
    .form-submit:hover {
        background-color: #00ff88;
        color: #000000;
        cursor: pointer;
    }
    /* ==== 
               End of contact-container 
    ====*/
    /* page footer  */
    
    .page-footer {
        height: 4rem;
        background-color: #e0efe7;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .page-footer p {
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 1;
    }
    
    #footer-logo,
    .page-footer a {
        color: var(--primary-600);
        font-weight: 700;
    }
    
    @media screen and (min-width: 768px) {
        .hero-text h1 {
            font-size: 4rem;
            margin-bottom: 2rem;
        }
        .recipes-list {
            grid-template-columns: 1fr 1fr;
        }
        .recipe {}
        .recipe-img {
            height: 10rem;
        }
        /* single page recipes */
        .related-product-lists {
            grid-template-columns: repeat(2, 1fr);
        }
        .related-img {
            object-position: 40%;
            /* to set image inner position */
        }
    }
    
    @media screen and (min-width: 992px) {
        .nav-btn {
            display: none;
        }
        .navbar {
            height: 6rem;
            background-color: #645cff;
        }
        .nav-center {
            display: flex;
            align-items: center;
        }
        .nav-header {
            height: auto;
            margin-right: 2rem;
        }
        .nav-links {
            height: auto;
            width: 100%;
            flex-direction: row;
            align-items: center;
            background-color: rgb(253, 0, 0);
        }
        .nav-link {
            padding: 0;
            border-top: none;
            margin-right: 16px;
        }
        .nav-link:nth-child(1) {
            margin-left: 16px;
        }
        .nav-link:hover {
            border-bottom: 2px solid #000;
            font-weight: 700;
        }
        .contact-link {
            margin-left: auto;
        }
        .recipes-container {
            grid-template-columns: 200px 1fr;
        }
        .tags-container {
            order: 0;
        }
        .tags-list {
            display: flex;
            flex-direction: column;
        }
        /* single-page-recipe */
        .single-recipe-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            align-items: center;
        }
        .single-feature-title {
            text-align: left;
        }
        /* single page recipes */
        .related-product-lists {
            grid-template-columns: repeat(4, 1fr);
            padding: 10px 5px;
        }
        .contact-container {
            grid-template-columns: 1fr 500px;
        }
    }
    
    @media screen and (min-width: 1200px) {
        .recipes-list {
            grid-template-columns: repeat(3, 1fr);
        }
    }